* {
  font-family: 'Roboto', sans-serif;
}


.css-selector {
  background: linear-gradient(333deg, #3494E6, #EC6EAD);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

@-webkit-keyframes AnimationName {
  0%{background-position:18% 0%}
  50%{background-position:83% 100%}
  100%{background-position:18% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:18% 0%}
  50%{background-position:83% 100%}
  100%{background-position:18% 0%}
}
@keyframes AnimationName {
  0%{background-position:18% 0%}
  50%{background-position:83% 100%}
  100%{background-position:18% 0%}
}